:root {
/ make the backend contents as wide as the browser window /
--body-max-width: 100%;
/ change the background color of the <body> /
--body-bg: #f5f5f5;
/ make the base font size smaller /
--font-size-base: 13px;
/ remove all border radius to make corners straight /
--border-radius: 0px;
}

body {
    background-color: #333333;
}

.main-sidebar {
    background-color: #333333;
}

.sidebar-menu a {
    color: white;
}

.sidebar-menu .fa {
    color: white;
}

.main-header #header-logo a {
    color: #7CB928;
}

.navbar-custom-menu .user {
    color: white;
}