@import "customs/bootstrap/bootstrap";
@import "customs/datatables.bundle.css";
@import "customs/fullcalendar.bundle.css";
@import "customs/jquery-ui.bundle.css";
@import "customs/jqvmap.bundle.css";
@import "customs/jstree.bundle.css";

.kt-login.kt-login--v6 {
  .kt-login__content {
    .kt-login__section {
      .kt-login__block {
        padding: 1rem 1.5rem;
        margin: 0 auto;
        display: inline-block;
        text-align: center;
        max-width: 500px;

        .kt-login__title {
          color: #212529;
          font-size: 1.75rem;
          padding-top: 6rem;
        }
      }
    }
  }
}

.kt-sign-up__form {
  margin: 3.4rem 0 3rem 0;
  text-align: center;

  .btn {
    height: auto;
  }
}

.confirmed-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  text-align: center;

  .image {
    display: block;
    flex: 0 0 100%;
  }

  .desc {
    display: block;
    flex: 0 0 100%;
    padding: .75rem;
  }

  .links {
    display: block;
    flex: 0 0 100%;
  }
}
