<!-- begin:: Header Topbar -->
<div class="kt-header__topbar">
    {#<!--begin: Search -->
    <div class="kt-header__topbar-item kt-header__topbar-item--search dropdown" id="kt_quick_search_toggle">
        <div class="kt-header__topbar-wrapper" data-toggle="dropdown" data-offset="10px,0px">
            <span class="kt-header__topbar-icon" ><i class="flaticon2-search-1"></i></span>
        </div>
        <div class="dropdown-menu dropdown-menu-fit dropdown-menu-right dropdown-menu-anim dropdown-menu-lg">
            {% include 'components/dropdown-search-inline.html.twig' %}
            <!--[html-partial:include:{"file":"partials\/_dropdown-search-inline.html"}]/-->
        </div>
    </div>
    <!--end: Search -->#}
    <!--begin: Notifications -->
    <div class="kt-header__topbar-item dropdown">
        <div class="kt-header__topbar-wrapper" data-toggle="dropdown" data-offset="10px,0px">
            <span class="kt-header__topbar-icon kt-header__topbar-icon--success"><i class="flaticon2-bell-alarm-symbol"></i></span>
            <span class="kt-hidden kt-badge kt-badge--danger"></span>
        </div>
        <div class="dropdown-menu dropdown-menu-fit dropdown-menu-right dropdown-menu-anim dropdown-menu-xl">
            <form>
                {% include 'components/dropdown-notifications.html.twig' %}
                <!--[html-partial:include:{"file":"partials\/_dropdown-notifications.html"}]/-->
            </form>
        </div>
    </div>
    <!--end: Notifications -->
    {#<!--begin: Quick actions -->
    <div class="kt-header__topbar-item dropdown">
        <div class="kt-header__topbar-wrapper" data-toggle="dropdown" data-offset="10px,0px">
            <span class="kt-header__topbar-icon kt-header__topbar-icon--warning"><i class="flaticon2-gear"></i></span>
        </div>
        <div class="dropdown-menu dropdown-menu-fit dropdown-menu-right dropdown-menu-anim dropdown-menu-xl">
            <form>
                {% include 'components/dropdown-quick-actions.html.twig' %}
                <!--[html-partial:include:{"file":"partials\/_dropdown-quick-actions.html"}]/-->
            </form>
        </div>
    </div>
    <!--end: Quick actions -->#}
    <!--begin: Cart -->
    <div class="kt-header__topbar-item dropdown">
        <div class="kt-header__topbar-wrapper" data-toggle="dropdown" data-offset="10px,0px">
            <span class="kt-header__topbar-icon"><i class="flaticon2-shopping-cart-1"></i></span>
        </div>
        <div class="dropdown-menu dropdown-menu-fit dropdown-menu-right dropdown-menu-anim dropdown-menu-xl">
            <form>
                {% include 'components/dropdown-my-cart.html.twig' %}
                <!--[html-partial:include:{"file":"partials\/_dropdown-my-cart.html"}]/-->
            </form>
        </div>
    </div>
    <!--end: Cart-->
    <!--begin: Language bar -->
    <div class="kt-header__topbar-item kt-header__topbar-item--langs">
        <div class="kt-header__topbar-wrapper" data-toggle="dropdown" data-offset="10px,0px">
            <span class="kt-header__topbar-icon kt-header__topbar-icon--brand">
                <img class="" src="{{ asset('build/images/media/flags/006-turkey.svg') }}" alt="Türkiye" />
            </span>
        </div>
        <div class="dropdown-menu dropdown-menu-fit dropdown-menu-right dropdown-menu-anim">
            {% include 'components/dropdown-languages.html.twig' %}
            <!--[html-partial:include:{"file":"partials\/_dropdown-languages.html"}]/-->
        </div>
    </div>
    <!--end: Language bar -->
    <!--begin: User bar -->
    <div class="kt-header__topbar-item kt-header__topbar-item--user">
        <div class="kt-header__topbar-wrapper" data-toggle="dropdown" data-offset="10px,0px">
            <span class="kt-hidden kt-header__topbar-welcome">Hi,</span><span class="kt-hidden kt-header__topbar-username">

            </span>
            <img class="kt-hidden" alt="Pic" src="" />
            <span class="kt-header__topbar-icon kt-hidden-">
                <i class="flaticon2-user-outline-symbol"></i>
            </span>
        </div>
        <div class="dropdown-menu dropdown-menu-fit dropdown-menu-right dropdown-menu-anim dropdown-menu-xl">
            {% include 'components/dropdown-user.html.twig' %}
            <!--[html-partial:include:{"file":"partials\/_dropdown-user.html"}]/-->
        </div>
    </div>
    <!--end: User bar -->
    <!--begin: Quick panel toggler -->
    <div class="kt-header__topbar-item kt-header__topbar-item--quickpanel" data-toggle="kt-tooltip" title="Quick panel" data-placement="top">
        <div class="kt-header__topbar-wrapper">
            <span class="kt-header__topbar-icon" id="kt_quick_panel_toggler_btn"><i class="flaticon2-cube-1"></i></span>
        </div>
    </div>
    <!--end: Quick panel toggler -->
</div>
<!-- end:: Header Topbar -->
