<!-- begin:: Aside -->
<div class="kt-header__brand kt-grid__item " id="kt_header_brand">
    <div class="kt-header__brand-logo">
        <a href="{{ path('homepage') }}">
            <img alt="Manage Hosted" src="{{ asset('build/images/login/logo.png') }}"/>
        </a>
    </div>
</div>
<!-- end:: Aside -->
